<div class=body>

<!-- #87 -->

<div class="a-87 a-bg-red">
    <!-- Heading -->
    <h3><a href="#">Acceuil</a></h3>
    <!-- Para -->
    <p>Creer ton projet</p>
    <!-- Button -->
    <a href="/posts" class="a-87-btn">BUTTON</a>
</div>
</div>